<%- include("templates/header") -%>
<%- include("templates/Navbar") -%>
<div class="container bod">
    <ul>
        <h1>Home</h1>
        <p> <%= d.description %> </p>
    
      <%  dd.forEach(function(post){ %>
        <h1>
            <%= post.Title %>
        </h1>
        <p>
        <%= post.description.substring(0, 100) + " ..."%>
        <a href="/<%= post.Title%>">Read More</a>
        </p>
        <% }) %>
    </ul>
</div>
<%- include("templates/footer") -%>
<%- include("templates/foot") -%>