<%- include("templates/header") -%>
<%- include("templates/Navbar") -%>
<div class="container bod">
    <ul>
        <li>
            <h1>
                <%= d[0].Title %>
            </h1>
            <p>
                <%= d[0].description%>
            </p>
        </li>
        <% for(let i=1;i< d.length;i++){ %>
            <li>
                <h1>
                    <%= d[i].Title%>
                </h1>
                <p class="text-truncate">
                    <%= d[i].description %>
                </p>
                <%= let link=`/${d[i].Title}`; %>
                <a href=<%= link %> class="page">Read More</a>
            </li>
        <% } %>
    </ul>
</div>
<%- include("templates/footer") -%>
<%- include("templates/foot") -%>