<%- include("templates/header") -%>
<%- include("templates/Navbar") -%>
<div class="container bod bodd">
    <ul>
        <li>
            <h1>
                <%= d.Title%>
            </h1>
            <p>
                <%= d.description %>
            </p>
        </li>
    </ul>
</div>
<%- include("templates/footer") -%>
<%- include("templates/foot") -%>